<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        
        <%= @user.name %>
        <section>
    <h2>About</h2>
    <p>Gender: <%= @user.gender %></p>
    <p>Age: <%= @user.age %></p>
    <p>Country: <%= @user.country %></p>
    <p>City: <%= @user.city %></p>
    <p>About me: <%= @user.about_me %></p>
      <section>
    </section>
  </aside>
</div>